body{
    background-color: #8a0b07;
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    margin:0;
    color:white;
    animation: body-in 2s ease-in-out;
}

@keyframes body-in{
    from{
        background-color: rgb(0, 0, 0);
    }
}

a:link, a:active, a:visited{
    text-decoration: none;
}

p{
    color:white;
    font-size: 18px;
}

/*menu*/
header{
    text-align: center;
}

.slide {
    background: center/cover url(../img/slide1.png);
    height: 100vh;  
}
header .logo{
    display: flex;
    justify-content: center;
    text-decoration: none;
    animation: loading-logo 2s ease-in-out;
    align-items: center;
}

.logo h1{
    font-family: 'Limelight', cursive;
    align-items: center;
    display: flex;
    margin: 0;
}

.slide .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@keyframes loading-logo{
    from,20%{
      opacity: 0;
      transform: scale(.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

nav ul:first-child{
    padding-top: 1rem;
}

nav ul{
    padding-top: .2rem;
    list-style-type: none;
    font-size: 30px;
    padding: 0;
    margin:0;  
}

@keyframes loading-menu{
    from,30%{
        transform: translateX(-100px);
        opacity: 0
    }
    80% {
        transform: translateX(0px);
        opacity: 1;
    }
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8a0b07;
    width: 100%;
    color: white;
    padding: .3rem 0;
    animation: body-in 2s ease-in-out;
}

nav a{
    text-decoration: none;
    color:white;   
}

#um{
    animation: loading-menu 3s ease-in-out; 
}
#dois{
    animation: loading-menu 3.5s ease-in-out; 
}
#tres{
    animation: loading-menu 4s ease-in-out; 
}
#quatro{
    animation: loading-menu 4.5s ease-in-out; 
}

nav ul li:hover{
    background-color: #750905;
}

nav a:visited{
    color: white;
}
.bg{
    background-image: url(../img/bg2.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

.bg h3{
    font-family: 'Flamenco';
    font-size: 40px;
    float: right;
    align-items: center;
    text-align: right;
    padding: 30px;
    text-shadow: 3px 4px 3px #2c2c2c;

    background-color: #eeeeee60;
}
/*Filmes*/
h1{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 30px;
}
.filmes{
    width: 100%;
    background-color: black;
    padding: 30px 0;
    padding-bottom: 50px;
}

@keyframes filme-anim{
    from,50%{
        transform: scale(.9);
        opacity: 0;
    }
    to{

    }
}

.filmes .banner{  
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    padding-inline-start: 0px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.filmes h1{
    animation: filme-anim 3.5s ease-in-out;
}

#a{
    animation: filme-anim 4s ease-in-out;
}
#b{
    animation: filme-anim 4.5s ease-in-out;
}
#c{
    animation: filme-anim 5.5s ease-in-out;
}
#d{
    animation: filme-anim 6s ease-in-out;
}
.filmes .banner img{
    justify-content: center;
    width: 7rem;    

    -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
}


.filmes .banner ul{
    justify-content: center;
    display: flex;
}

.filmes .banner li{
    list-style-type: none; 
    color:white;
    font-size: 20px;
    background-color: #8a0b07;
    padding: .5em;
}

.filmes .banner li:hover{
    background-color: #750905;
}

/*Estrutura*/
.estrutura{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

.estrutura h1{
    grid-column: 1/3;
    height: 42px;
}

.estrutura p, .servicos p{
    margin: 30px auto;
    padding-bottom: 2em;
    width: 75%;
    text-align: justify;
}

.estrutura div img{
    margin: auto;
    display: flex;
    width: 300px;
    justify-content: center;

    -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
}

/*SERVIÇOS*/

.servicos{
    background-color: #333;
    padding: 2em 0;
}

.servicos i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 80px;
    color: #750905;
    padding: 10px;
    background-color: white;
    border-radius: 50%;

    -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);

    transition: transform 1s;
    will-change: transform;
}

.servicos i:hover{
    transform: scale(1.2);
}

/*CONTATO*/

footer{
    padding: 1em 0;
}

.contato{
    display: flex;
    flex-direction: column;
    margin:auto;
}

.contato .mapa{
    margin: auto;

}

.contato .mapa .social{
    margin: 0.8em auto;
    text-align: center;
    font-size: 60px;
}

.contato .mapa .social i{
    margin: 0 0.25em;
    padding: 0 0.05em;
    border-radius: 10%;
}

.contato  .formulario h2{
    margin: 0;
}

.contato .mapa .social .fa-facebook-square{
    background-color: rgb(111, 8, 228);
    color:white;
    
}
.contato .mapa .social .fa-instagram{
    background-color: rgb(255, 209, 5);
    color:black;
    
}
.contato .mapa .social .fa-twitter-square{
    background-color: rgb(8, 195, 228);
    color:white;   
}

.contato .mapa .social .fab{
    transition: transform 0.7s;
    will-change: transform;
}
.contato .mapa .social .fab:hover{
    transform: scale(1.2);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
}

.contato  .formulario{
    margin: auto;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.329);
    padding: 1.5em;
}

.contato .formulario h2{
    text-align: center;
    margin-bottom: 35px;
    font-size: 35px;
}

.contato .formulario div label{
    padding: 0 5px;
    font-size: 20px;
    
}

.contato .formulario input, select, textarea{
    display: flex;
    padding: 5px;
    font-size: 20px;
    margin-top:5px;
    margin-bottom: 15px;
    font-weight: bold;  
    background-color: #e2e2e2;
    border:0;
}

.contato .formulario .email input{
    width: 316px;
    flex-direction: row;
}

.contato .formulario .botao{
    display: flex;
    justify-content: center;
    
}

.contato .formulario .botao .btn{
    transition: transform 0.7s;
    will-change: transform;
}

.contato .formulario .botao .btn:hover{
    transform: scale(1.1);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
}

.rodape{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px;
    text-align: center;
}

.estrutura h1, .servicos h1, footer h1{
    animation: estrutura-img 5s;
}

@keyframes estrutura-img {
    from,80%{
        opacity: 0;
    }
    
}
.servicos ,.estrutura, .contato{
    animation: estrutura-img 5s;
}

@media all and (min-width: 500px){
    
    .filmes .banner{ 
        grid-column-gap: 25px;
    }

    .filmes .banner li{
        transition: transform 1s;
        will-change: scale;
    }

    .filmes .banner li:hover{
        transform: scale(1.1);
    }
}

@media all and (min-width: 600px){
    nav ul{
        display: flex;
        justify-content: space-between;
    }

    .slide .container {
        align-items: flex-end;
    }
    .slide .container h3{
        width: 30rem;
    }

    .contato .formulario{
        width: 25em;
    }

    .contato .formulario textarea{
        width: 98%;
    }
}

@media all and (min-width: 800px){
    header .logo{
        display: flex;
        float: left;
    }
    header nav{
        padding: 10px 0;
        justify-content: flex-end;
        align-items: center
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 20px;
        margin-left: 200px;
    }

    nav ul:first-child {
        padding-top: 0;
    }

    nav ul li{
        text-align: center;
        align-items: center;
        width: 16rem;
        justify-content: space-around;
    }

    .slide .container h3{
        font-size: 40px;
        width: 30rem;
    }
    .filmes .banner{  
        display: flex;
        justify-content: space-around;
        padding: 0 1rem;
        width: 97%;
    }

    .filmes .banner li{
        padding: .3em;
    }

    .filmes .banner img{
        width: 7em;
    }

    .servicos .conteudo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: .5r 1fr;
    }

    .servicos .conteudo i{
        grid-row:1/2;
        margin:30px auto;
    }
    
    .servicos .conteudo p{
        grid: 2/3;
        margin:0 auto;
        display: flex;
    }

    .contato .mapa iframe{
        height: 15em;
        width: 25em;
    }
}

@media all and (min-width: 1000px){
    .slide .container h3{
        font-size: 50px;
        width: 35rem;
    }
    .filmes .banner img{
        width: 10em;
    }

    .estrutura .info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: .5r 1fr;
    }

    .contato{
        display: flex;
        flex-direction: row;
        padding: 0 15px;
    }

    .contato .mapa .social{
        display: flex;
        justify-content: space-around;
    }

    .contato .mapa .social i{
        margin: .4em 0em;
        justify-content: center;
        align-items: center;
    }

    .contato .mapa{
        margin-top:0;
    }

    .contato .mapa iframe{
        height: 20em;
        width: 30em;
    }

    .contato .formulario{
        width: 25em;
    }

    .contato .formulario .email input{
        width: 390px;
    }

    .contato .formulario textarea{
        width: 98%;
    }
}

@media all and (min-width: 1100px){
    .contato .mapa iframe{
        height: 25em;
        width: 35em;
    }

    .contato .formulario{
        margin-top: 0;
    }
}