body{
    background-color: #8a0b07;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    margin:0;
    color:white;
}

p{
    color:white;
}

/*menu*/
header{
    text-align: center;
}

header .logo{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
    color: antiquewhite;
}

nav ul:first-child{
    padding-top: 1rem;
}

nav ul{
    padding-top: .2rem;
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    margin:0;
}

nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8a0b07;
    width: 100%;
    color: white;
    padding: .3rem 0  

    
}

nav a{
    text-decoration: none;
    color:white;
}

nav ul li:hover{
    background-color: #750905;
}

nav a:visited{
    color: white;
}

/*Filmes*/
h1{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 35px;
    margin-bottom: 30px;
}
.filmes{
    width: 100%;
    background-color: black;
    padding: 30px 0;
    padding-bottom: 50px;
}

.filmes .banner{  
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    padding-inline-start: 0px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.filmes .banner img{
    justify-content: center;
    width: 8rem;

    -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
}


.filmes .banner ul{
    justify-content: center;
    display: flex;
}

.filmes .banner li{
    list-style-type: none; 
    color:white;
    font-size: 18px;
    background-color: #8a0b07;
    padding: .5em;
}

.filmes .banner li:hover{
    background-color: #750905;
}

@media all and (min-width: 500px){
    .filmes .banner{ 
        grid-column-gap: 25px;
    }

    .filmes .banner li{
        transition: transform 1s;
    will-change: scale;
    }

    .filmes .banner li:hover{
        transform: scale(1.1);
    }
}

/*Estrutura*/
.estrutura{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

.estrutura h1{
    grid-column: 1/3;
    height: 42px;
}

.estrutura p, .servicos p{
    margin: 15px auto;
    padding-bottom: 2em;
    width: 75%;
    text-align: justify;
}

.estrutura div img{
    margin: auto;
    display: flex;
    width: 200px;
    justify-content: center;

    -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
}

/*SERVIÇOS*/

.servicos{
    background-color: #333;
    padding: 2em 0;
}

.servicos i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 80px;
    color: #750905;
    padding: 10px;
    background-color: white;
    border-radius: 50%;

    -webkit-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    -moz-box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
    box-shadow: 12px 12px 12px -5px rgba(0,0,0,0.62);
}

@keyframes bg{
    50%{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

.servicos i:hover{
    animation: bg 1s ease-in-out;
}

/*CONTATO*/

footer{
    padding: 1em 0;
}

.contato{
    display: flex;
    flex-direction: column;
    margin:auto;
}

.contato .mapa{
    margin: auto;
    width: 250px;
    height: 160px;
    background-color: green;
}

.contato  .formulario{
    
}

.contato .social{
    margin: 0.8em auto;
    text-align: center;
    font-size: 60px;
}

.contato .social i{
    margin: 0 0.25em;
    padding: 0 0.05em;
    border-radius: 10%;
}

.contato  .formulario h2{
    margin: 0;
}

.contato .social .fa-facebook-square{
    background-color: rgb(111, 8, 228);
    color:white;
    
}
.contato .social .fa-instagram{
    background-color: rgb(255, 209, 5);
    color:black;
    
}
.contato .social .fa-twitter-square{
    background-color: rgb(8, 195, 228);
    color:white;
    
}